section.price 
   .container-large
      .price__grid
         .price__item-left(data-aos="fade-right")
            h3.price__title.title Стоимость прозрачна и известна заранее
            p.price__subtitle Окончательную стоимость фиксируем после замера в официальном договоре и гарантируем, что она не изменится в процессе.
         .price__item-right(data-aos="fade-left")
            span.price__goal Цена изделия индивидуальна и зависит от:
            .price__inner 
               .price__dependence
                  img(src="img/price/icon_1.svg", alt="icon").price__dependence-img
                  h6.price__dependence-title <b>размеров</b> изделия
               .price__dependence
                  img(src="img/price/icon_2.svg", alt="icon").price__dependence-img
                  h6.price__dependence-title <b>места и сложности</b> монтажа
               .price__dependence
                  img(src="img/price/icon_3.svg", alt="icon").price__dependence-img
                  h6.price__dependence-title <b>опций и системы</b> управления
      .price__subgrid(data-aos="fade-left") 
         .price__subgrid-row
            .price__information 
               h5.price__information-title Узнайте точную стоимость на замере
               p.price__information-subtitle. 
                  Специалист приедет в удобное для Вас время, проконсультирует по всем интересующим вопросам, а также привезет образцы материалов, из которых будут изготовлены изделия
            .price__items
               .price__item-number 
                  span.price__number Введите номер телефона
                  input(type="text" placeholder="+7 (___) ___-__-__").price__input
                  label.check.price__check
                     input(type='checkbox').check__input
                     .check__box.price__box
                     span.check__text.price__text 
                        |Нажимая кнопку вы соглашаетесь  с условиями 
                        a.price__link(href="#") Политики конфиденциальности
               button.price__btn
                  span Вызвать замерщика
                  img(src="img/price/arrow.svg", alt="arrow")
               label.check.price__check.price__check-mob
                  input(type='checkbox').check__input
                  .check__box.price__box
                  span.check__text.price__text 
                     |Нажимая кнопку вы соглашаетесь  с условиями 
                     a.price__link(href="#") Политики конфиденциальности
            img(src="img/price/background.png", alt="background").price__background