section.ways 
   .container
      h4.ways__title.title Способы установки:
      .ways__row 
         .ways__item 
            img(src="img/ways/photo_1.png", alt="way").ways__img
            h5.ways__name Накладной
            span.ways__desc короб наружу
         .ways__item 
            img(src="img/ways/photo_2.png", alt="way").ways__img
            h5.ways__name Накладной
            span.ways__desc короб внутрь
         .ways__item 
            img(src="img/ways/photo_3.png", alt="way").ways__img
            h5.ways__name Встроенный
            span.ways__desc короб наружу
         .ways__item 
            img(src="img/ways/photo_4.png", alt="way").ways__img
            h5.ways__name Встроенный
            span.ways__desc короб внутрь