section.basic 
   .container 
      h3.basic__title.title. 
         Рольставни для дома
         основные преимущества:
   .basic__inner 
      .container-large 
         .basic__grid 
            .basic__col.basic__col-green
               .basic__item 
                  .basic__box
                  p.basic__text. 
                     Светопропускание 95%. Так же как и стекло
               .basic__item 
                  .basic__box
                  p.basic__text. 
                     Поликарбонат не мутнеет и не темнеет со временем
               .basic__item 
                  .basic__box
                  p.basic__text. 
                      Срок службы от 15 лет
               .basic__item 
                  .basic__box
                  p.basic__text. 
                     В 200 раз прочнее стекла
               .basic__item 
                  .basic__box
                  p.basic__text. 
                     Могут управляться автоматически одной кнопкой
               .basic__item 
                  .basic__box
                  p.basic__text. 
                     Устанавливаются без проблем, нужен менее жесткий и прочный каркас проемов
               .basic__item 
                  .basic__box
                  p.basic__text. 
                     В открытом состоянии оставляют чистый проем, без рам и порогов
               .basic__item 
                  .basic__box
                  p.basic__text. 
                     Экологически безопасные, не содержат вредных для здоровья веществ
            .basic__col 
               .basic__row 
                  .basic__item.basic__item_bad
                     .basic__box
                     .basic__wrap 
                        span.basic__name Мягкие окна:
                        ul.basic__list
                           li.basic__li плохо переносят морозы и трескаются
                           li.basic__li срок службы 2-3 года
                           li.basic__li подходят только для малых проемов
                           li.basic__li содержат вредные вещества
                  .basic__item.basic__item_bad
                     .basic__box
                     .basic__wrap 
                        span.basic__name Холодное остекление <span class="basic__small">(алюминиевые, пластиковые, деревянные окна):</span>
                        ul.basic__list
                           li.basic__li плохо только ручное управление
                           li.basic__li очень тяжелая конструкция
                           li.basic__li ограничение по высоте 2,5м

                           




                        



