section.information 
   .container 
      .information__row
         .information__item.information__item-left(data-aos="fade-right")
            img(src="img/information/background_1.png").information__img
            .information__inner 
               h5.information__title Рассчитайте стоимость 
                  span.information__small предварительную в нашем калькуляторе
               a.information__button-calc Перейти в калькулятор
         .information__item.information__item-right(data-aos="fade-left")
            img(src="img/information/background_2.png", alt="back").information__img
            .information__inner 
               h5.information__title.information__title_black Подписывайтесь и смотрите,<br>
                  span.information__small как мы работаем и обзоры новых проектов в нашем Телеграм канале
               a.information__button-telegram
                  img(src="img/information/telegram.svg", alt="telegram").information__img-telegram
                  |Telegram канал
               