section.faq 
   .container 
      .row.faq__grid
         .faq__name
            h4.faq__title.title(data-aos="fade-right") У нас часто спрашивают
         .faq__quastions(data-aos="fade-left") 
            .faq__quastion 
               .faq__inner 
                  span.faq__quastion-title Работаете ли вы по договору?
                  img(src="img/base/arrow-green.svg", alt="", srcset="").faq__img
               .faq__wrapper Оплата за заказ производится частями. Окончательный расчет — после монтажа и приемки работы.
            .faq__quastion 
               .faq__inner 
                  span.faq__quastion-title Возможна ли оплата по частям, в рассрочку или кредит?
                  img(src="img/base/arrow-green.svg", alt="", srcset="").faq__img
               .faq__wrapper Оплата за заказ производится частями. Окончательный расчет — после монтажа и приемки работы.
            .faq__quastion 
               .faq__inner 
                  span.faq__quastion-title Работаете ли вы по договору?
                  img(src="img/base/arrow-green.svg", alt="", srcset="").faq__img
               .faq__wrapper Оплата за заказ производится частями. Окончательный расчет — после монтажа и приемки работы.
            .faq__quastion 
               .faq__inner 
                  span.faq__quastion-title Работаете ли вы по договору?
                  img(src="img/base/arrow-green.svg", alt="", srcset="").faq__img
               .faq__wrapper Оплата за заказ производится частями. Окончательный расчет — после монтажа и приемки работы.
            .faq__quastion 
               .faq__inner 
                  span.faq__quastion-title Работаете ли вы по договору?
                  img(src="img/base/arrow-green.svg", alt="", srcset="").faq__img
               .faq__wrapper Оплата за заказ производится частями. Окончательный расчет — после монтажа и приемки работы.
            .faq__quastion 
               .faq__inner 
                  span.faq__quastion-title Работаете ли вы по договору?
                  img(src="img/base/arrow-green.svg", alt="", srcset="").faq__img
               .faq__wrapper Оплата за заказ производится частями. Окончательный расчет — после монтажа и приемки работы.