section.places 
   .container.places__top
      .places__row 
         .places__item 
            .places__wrap
               img(src="img/places/icon.svg", alt="icon").places__icon
               h4.title.places__title Места установки: 
         .places__item-right
            .places__slider
               .places__wrapper.swiper-wrapper
                  .places__card.swiper-slide
                     img(src="img/places/photo_1.png", alt="photo").places__img
                     .places__info Для терассы
                  .places__card.swiper-slide
                     img(src="img/places/photo_1.png", alt="photo").places__img
                     .places__info Для терассы
                  .places__card.swiper-slide
                     img(src="img/places/photo_1.png", alt="photo").places__img
                     .places__info Для терассы
                  .places__card.swiper-slide
                     img(src="img/places/photo_1.png", alt="photo").places__img
                     .places__info Для терассы
                  .places__card.swiper-slide
                     img(src="img/places/photo_1.png", alt="photo").places__img
                     .places__info Для терассы
               .places__dots
         .places__buttons
            button.places__button.places__button-prev
               img(src="img/places/prev.svg", alt="prev")
            button.places__button.places__button-next
               img(src="img/places/next.svg", alt="next")
   .places__bottom
      .container
         .places__inner 
            h5.title.places__name Краткий текстовый блок
            p.places__text. 
               Рольставни на окна металлические, цена которых не столь высока, приводятся в движение с помощью электрического механизма или вручную. В закрытом положении они фиксируются с помощью замка. В поднятом состоянии они скручиваются в рулон, который располагается в специальном коробе. Устанавливается он над оконным проемом. 
               Механизм состоит из целого ряда элементов:
            ul.places__list 
               li.places__li Полотна из ламелей, которые изготавливаются из стали или алюминия;
               li.places__li Направляющих шин;
               li.places__li Вала для наматывания полотна;
               li.places__li Короба, где прячется устройство в собранном виде;
               li.places__li Механического или автоматического привода.



