section.help
   .container.help__container
      .help__inner
         img(src="img/help/background.png", alt="background").help__back
         .help__item 
            span.help__suptitle Досмотрели страницу сайта до конца и не оставили заявку?
            h3.help__title.title. 
               Расскажите, что именно
               нужно, а мы прямо по
               телефону сориентируем 
               по ценам, срокам и
               возможностям в целом
            span.help__online Мы онлайн, напишите в удобный вам мессенджер  
            .help__socials 
               a.help__social(href="#").help__social-whatsapp
                  img(src="img/help/icon_1.svg", alt="icon")
                  .help__social-box 
                     p.help__social-text Спросить у нас в WhatsApp 
                     span.help__social-light время ответа 10 минут
               a.help__social(href="#").help__social-telegram
                  img(src="img/help/icon_2.svg", alt="icon")
               a.help__social(href="#").help__social-viber
                  img(src="img/help/icon_3.svg", alt="icon")
            .help__info 
               .help__info-item 
                  span.help__info-or или звоните
                  span.help__info-time Пн-Сб  9:00-19:00 
               .help__info-item 
                  a.help__info-number(href="tel:+7(499)688-84-83") +7 (499) 688-84-83 
                  a.help__info-link(href="#")
                     span.help__info-inner Заказать обратный звонок
                     img(src="img/base/arrow-green.svg", alt="arrow")
         .help__person 
            picture 
               source(media="(max-width: 600px)", srcset="img/help/background_2.png")
               source(srcset="img/help/person.png")
               img(alt="human").help__person-img
            .help__cost 
               img(src="img/help/comment.svg", alt="comment").help__cost-img
               p.help__cost-text. 
                  Давайте посчититаю
                  стоимость для вас
            .help__person-info 
               span.help__person-name Павел Каталев, 
               span.help__person-rang Генеральный директор «РОЛГРУПП»