section.kinds
   .container
      h3.kinds__title.title(data-aos="fade-right") Производим и устанавливаем все виды роллетных систем
   ol.kinds__list
      li.kinds__item
         span.kinds__category типы роллетов
         img(src="img/kinds/photo_1.png" alt="background").kinds__img
         span.kinds__name Рольставни на окна
      li.kinds__item 
         span.kinds__category типы роллетов
         img(src="img/kinds/photo_2.png" alt="background").kinds__img
         span.kinds__name Рольставни на окна
      li.kinds__item 
         span.kinds__category типы роллетов
         img(src="img/kinds/photo_1.png" alt="background").kinds__img
         span.kinds__name антивандальные рольставни
      li.kinds__item 
         span.kinds__category типы роллетов
         img(src="img/kinds/photo_3.png" alt="background").kinds__img
         span.kinds__name Металлические рольставни
      li.kinds__item 
         span.kinds__category типы роллетов
         img(src="img/kinds/photo_2.png" alt="background").kinds__img
         span.kinds__name прозрачные рольставни
      li.kinds__item 
         span.kinds__category типы роллетов
         img(src="img/kinds/photo_4.png" alt="background").kinds__img
         span.kinds__name Рольставни для гаража
      li.kinds__item 
         span.kinds__category типы роллетов
         img(src="img/kinds/photo_3.png" alt="background").kinds__img
         span.kinds__name Рольставни для дома, дачи
      li.kinds__item 
         span.kinds__category типы роллетов
         img(src="img/kinds/photo_1.png" alt="background").kinds__img
         span.kinds__name Рольставни для квартиры
      li.kinds__item 
         span.kinds__category типы роллетов
         img(src="img/kinds/photo_3.png" alt="background").kinds__img
         span.kinds__name Рольставни для дома, дачи
      li.kinds__item 
         span.kinds__category типы роллетов
         img(src="img/kinds/photo_1.png" alt="background").kinds__img
         span.kinds__name Рольставни для квартиры
      li.kinds__item-large 
         button.kinds__button Рассчитать стоимость и получить предложение
            img(src="img/kinds/arrow.svg", alt="arrow").kinds__arrow