section.trust 
   .container-large
      .trust__grid
         .trust__item
            h5.trust__title.title(data-aos="fade-right") Нам доверяют   
            .trust__comments
               .trust__wrapper.swiper-wrapper 
                  .trust__comment.swiper-slide
                     p.trust__text. 
                        «Сделали быстрее оговоренных сроков», «Очень приятно, когда люди занимаются своим делом с душой!»
                  .trust__comment.swiper-slide
                     p.trust__text. 
                        «Сделали быстрее оговоренных сроков», «Очень приятно, когда люди занимаются своим делом с душой!»
                  .trust__comment.swiper-slide
                     p.trust__text. 
                        «Сделали быстрее оговоренных сроков», «Очень приятно, когда люди занимаются своим делом с душой!»
            a.trust__more(href="#")(data-aos="fade") 
               span.trust__read Читать отзывы на Яндекс Картах
               img(src="img/trust/arrow.svg", alt="arrow")
            .trust__inner 
               img(src="img/trust/yandex.svg", alt="yandex").trust__yandex
               span.trust__mark 4,8<span class="trust__small">/5</span>
               img(src="img/trust/star.svg", alt="star").trust__star
               span.trust__your Ваша оценка
         .trust__mobile(data-aos="fade-left")
            img(src="img/trust/mobile.png", alt="mobile").trust__img
            .trust__controls 
               .trust__buttons 
                  button.trust__button.trust__button-prev
                     img(src="img/trust/prev.svg", alt="prev")
                  button.trust__button.trust__button-next
                     img(src="img/trust/next.svg", alt="prev")
               .trust__dots

         
