section.complex 
   .container 
      .complex__grid
         .complex__left 
            .complex__title.title(data-aos="fade-right") Весь комплекс работ делаем сами
            .complex__mobile 
               img(src="img/complex/cursor.svg", alt="cursop").complex__cursor
               spna.complex__mobile-text Листайте влево/вправо
            .complex__buttons
               .complex__button-prev.complex__button-slider
                  img(src="img/complex/prev.svg", alt="arrow")
               .complex__button-next.complex__button-slider
                  img(src="img/complex/next.svg", alt="arrow")
            .complex__dots
         .complex__right(data-aos="fade-left") 
            .complex__slider
               ol.complex__wrapper.swiper-wrapper
                  li.complex__card.swiper-slide 
                     h4.complex__card-name Замер
                     a.complex__link(href="#") Оставьте заявку,
                     span.complex__text  договоритесь о времени 
                     ul.complex__list-inner 
                        li.complex__list-item. 
                           Специалист приедет к вам на замер в оговоренное время с образцами материалов
                        li.complex__list-item. 
                           Порекомендует изделие, которое подходит для вашего места установки 
                        li.complex__list-item. 
                           Объяснит все этапы работы и назовет точную стоимость и сроки.
                     button.complex__btn.complex__btn-card
                        img(src="img/complex/arrow.svg", alt="arrow")
                  li.complex__card.swiper-slide 
                     h4.complex__card-name Производство
                     p.complex__desc.  
                        Изготовление вашего заказа на <b>собственном высокотехнологичном производстве</b> с соблюдением норм и требований российских и международных стнадартов.
                     .complex__player 
                        button.complex__btn.complex__btn-player
                           img(src="img/complex/play.svg", alt="play")
                        p.complex__player-text. 
                           Посмотрите, как
                           мы производим
                           роллетные системы
                     button.complex__btn.complex__btn-card
                        img(src="img/complex/arrow.svg", alt="arrow")
                  li.complex__card.swiper-slide
                     h4.complex__card-name Доставка и монтаж
                     p.complex__desc.  
                        Изготовление вашего заказа на <b>собственном высокотехнологичном производстве</b> с соблюдением норм и требований российских и международных стнадартов.
                     .complex__player 
                        button.complex__btn.complex__btn-player
                           img(src="img/complex/play.svg", alt="play")
                        p.complex__player-text. 
                           Посмотрите, как
                           мы производим
                           роллетные системы
                     button.complex__btn.complex__btn-card
                        img(src="img/complex/arrow.svg", alt="arrow")
                  li.complex__card.swiper-slide
                     h4.complex__card-name Доставка и монтаж
                     p.complex__desc.  
                        Изготовление вашего заказа на <b>собственном высокотехнологичном производстве</b> с соблюдением норм и требований российских и международных стнадартов.
                     .complex__player 
                        button.complex__btn.complex__btn-player
                           img(src="img/complex/play.svg", alt="play")
                        p.complex__player-text. 
                           Посмотрите, как
                           мы производим
                           роллетные системы
                     button.complex__btn.complex__btn-card
                        img(src="img/complex/arrow.svg", alt="arrow")