section.scheme 
   .container 
      h3.scheme__title Наша схема работы:
      .scheme__row
         .scheme__item 
            img(src="img/scheme/icon_1.svg", alt="icon").scheme__icon
            .scheme__inner 
               .scheme__num 1
               p.scheme__text. 
                  <b>Выезд специалиста</b> на объект для замера
         .scheme__item 
            img(src="img/scheme/icon_2.svg", alt="icon").scheme__icon
            .scheme__inner 
               .scheme__num 2
               p.scheme__text. 
                  <b>Производство вашего заказа</b> на собственном высокотехнологичном производстве
         .scheme__item 
            img(src="img/scheme/icon_3.svg", alt="icon").scheme__icon
            .scheme__inner 
               .scheme__num 3
               p.scheme__text. 
                  <b>Монтаж готовой продукции</b>  за несколько часов
         .scheme__item 
            img(src="img/scheme/icon_4.svg", alt="icon").scheme__icon
            .scheme__inner 
               .scheme__num 4
               p.scheme__text. 
                  <b>Дополнительные строительные работы</b>, если потребуются для правильного монтажа