section.guarantee
   img(src="img/guarantee/photo-1.png", alt="background" data-aos="fade-left").guarantee__back
   img(src="img/guarantee/photo-2.png", alt="background" data-aos="fade-left" data-aos-delay="300" data-aos-duration="1000").guarantee__back
   img(src="img/guarantee/photo-3.png", alt="background" data-aos="fade-left" data-aos-delay="600" data-aos-duration="1000").guarantee__back
   .container 
      .guarantee__item
         h4.guarantee__title.title(data-aos="fade-right") Вы получаете гарантию 3 года по договору
         p.guarantee__text(data-aos="fade"). 
            Наши клиенты могут уверены в качества, поскольку получают официальную гарантию.
            <br>
            <br>
            Один звонок — приедем и <b>устраним любую неисправность за 1-2 дня.</b> 
         a.guarantee__link(href="#")
            span Смотреть договор
            img(src="img/base/arrow-green.svg")
         .guarantee__quality
            img(src="img/guarantee/icon.svg", alt="icon").guarantee__quality-img
            p.guarantee__quality-text. 
               <b>Такую длительную
               гарантию</b> не дает
               практически никто
               в России.
               