section.own
   .container 
      .own__row 
         .own__item 
            h3.own__title.title(data-aos="fade-right").
               Собственное
               производство
               роллетных
               систем   
            p.own__subtitle(data-aos="fade"). 
               Экономите до <span class="own__green">30%</span> и приобретаете роллетную систему без <span class="own__green">наценок</span> посредников.
            .own__pattent Патент №31223
         .own__player(data-aos="fade-left")
            img(src="img/own/video.png", alt="video").own__video
            .own__bottom
               h5.own__check Посмотрите видео с нашего производства
               .own__line 
               .own__controls 
                  p.own__text Длительность: 2:32 мин
                  button.own__play 
                     img(src="img/own/play.svg", alt="play")