section.about
   .container
      .about__grid 
         .about__item
            h3.about__title(data-aos="fade"). 
               Каждый заказ мы делаем как для себя
            p.about__subtitle(data-aos="fade"). 
               Наша цель — максимальное удобство для клиентов. Благодаря собственному производству мы отвечаем за сроки и неизменную стоимость в процессе работы, фиксируя это в договоре.
            .about__mob 
               .about__mob-wrap
                  h6.about__achievement 1997
                  span.about__achievement-name год основания компании
               .about__mob-wrap
                  h6.about__achievement 1400
                  span.about__achievement-name м<sup>2</sup> площадь производства
               .about__mob-wrap
                  h6.about__achievement 38
                  span.about__achievement-name сотрудников в штате
            h4.about__title-second(data-aos="fade-right"). 
               Штат состоит из уникальных
               специалистов, имеющих опыт
               работы с 1997 года
            p.about__sub-second. 
               Каждый знает все о рольставнях, их производстве и монтаже.
            a(href="#").about__more
               span.about__more-text Подробнее о компании
               img(src="img/about/arrow.svg", alt="arrow")
         .about__item-middle
            .about__item-inner(data-aos="fade-left") 
               p.about__text. 
                  Посмотрите небольшое
                  видео о нашей компании.
                  Длительность: 2:32 мин
               button.about__play 
                  img(src="img/about/play.svg", alt="play")
            .about__more.about__more-mob 
               span.about__more-text Подробнее о компании
               img(src="img/about/arrow.svg", alt="arrow")
         .about__item-small 
            h6.about__achievement 1997<span class="about__small">год</span>   
            span.about__achievement-name основания компании
            h6.about__achievement 1400м<sup>2</sup>
            span.about__achievement-name площадь производства
            h6.about__achievement 38
            span.about__achievement-name сотрудников в штате
      .about__documentation
         .container.about__documentation-row
            .about__documentation-item
               h5.about__documentation-title(data-aos="fade-right"). 
                  Техническая
                  документация
                  и сертификаты
                  качества
               p.about__documentation-subtitle(data-aos="fade"). 
                  В данном разделе собраны актуальные сертификаты качества и протоколы испытаний, инструкции по монтажу и многое другое. 
               .about__instruction 
                  img(src="img/about/cursor.svg", alt="cursor").about__cursor
                  span.about__instruction-text Листайте влево/вправо
            .about__slider(data-aos="fade-left") 
               .about__slider-wrapper.swiper-wrapper
                  img(src="img/about/2.png", alt="serteficate").swiper-slide
                  img(src="img/about/3.png", alt="serteficate").swiper-slide
                  img(src="img/about/4.png", alt="serteficate").swiper-slide
                  img(src="img/about/2.png", alt="serteficate").swiper-slide
                  img(src="img/about/3.png", alt="serteficate").swiper-slide
                  img(src="img/about/4.png", alt="serteficate").swiper-slide
            .about__controls 
                  button.about__button-prev.about__button 
                     img(src="img/about/prev.svg", alt="prev")
                  button.about__button-next.about__button 
                     img(src="img/about/next.svg", alt="prev")
   .about__back-wrapper
      .about__back-inner
         .about__background(data-depth="0.07")