section.first
   .container.first__container
      .first__row 
         .first__item 
            h1.first__title Рольворота под ключ 
            p.first__subtitle.
               Гармонично смотрятся на любом объекте.
               Можно окрасить в единый оттенок.
            button.first__calc
               span.first__calc-text Рассчитать стоимость и получить предложение
               img(src="img/first/arrow.svg", alt="arrow")
            span.first__info Выезд замерщика в день обращения
            .first__line-dots 
               .first__dot.first__dot_active 1
               .first__dot
               .first__dot
               .first__dot
               .first__dot
               .first__dot
         .first__item-right
            .first__slider 
               .first__wrapper.swiper-wrapper
                  .first__card.swiper-slide
                     .first__card-name Рольворота
                     .first__rubles
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img
                     img(src="img/first/photo_1.png", alt="photo").first__photo
                  .first__card.swiper-slide
                     .first__card-name Прозрачные рольставни
                     .first__rubles
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                     img(src="img/first/photo_2.png", alt="photo").first__photo
                  .first__card.swiper-slide
                     .first__card-name Рольворота
                     .first__rubles
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img
                     img(src="img/first/photo_1.png", alt="photo").first__photo
                  .first__card.swiper-slide
                     .first__card-name Прозрачные рольставни
                     .first__rubles
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                     img(src="img/first/photo_2.png", alt="photo").first__photo
                  .first__card.swiper-slide
                     .first__card-name Рольворота
                     .first__rubles
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img.first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img
                     img(src="img/first/photo_1.png", alt="photo").first__photo
                  .first__card.swiper-slide
                     .first__card-name Прозрачные рольставни
                     .first__rubles
                        img(src="img/first/rub.svg", alt="rub").first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img_active
                        img(src="img/first/rub.svg", alt="rub").first__img_active
                     img(src="img/first/photo_2.png", alt="photo").first__photo
            .first__pagination 
               span.first__current 1
               .first__dots 
               span.first__max 6
         .first__item-mob
            button.first__btn-mob
               span.first__mob-name Рассчитать стоимость и получить предложение
               img(src="img/first/arrow.svg", alt="arrow")
            p.first__text-mob. 
               Пройдите короткий тест, чтобы мы точно рассчитали стоимость и сделали выгодное предложение
                  
                  