section.development 
   .container 
      .development__grid 
         .development__item 
            img(src="img/development/icon.svg", alt="icon").development__icon
            h3.development__title.title.
               Собственная уникальная <span class="development__green">патентованная разработка</span>
            p.development__text. 
               Благодаря собственному патенту, <b>увеличивается плотность намотки полотна</b>, как следствие в изделиях используются короба и направляющие меньшего размера и <b>прозрачные рольставни выглядят намного аккуратнее.</b>
         .development__wrap 
            img(src="img/development/photo.png", alt="photo").development__photo
         