section.high
   .container
      h4.high__title(data-aos="fade"). 
         С нами вы гарантированно получите
         сервис высочайшего уровня
      ul.high__list 
         li.high__item.high__item_active Персональный менеджер
         li.high__item Гибкая система оплаты
         li.high__item Кредит и рассрочка
      .high__row 
         .high__content(data-aos="fade-right")
            p.high__text. 
               Закрепим за вами <span class="high__green">персонального менеджера</span> — специалиста с опытом работы от 10 лет.
         .high__instruction(data-aos="fade-left") 
            span.high__name Оставьте заявку на консультацию
            .high__wrapper
               .high__field 
                  span.high__field-name Введите номер телефона
                  input(type="text" placeholder="+7 (___) ___-__-__").high__field-input
               button.high__button Получить консультацию
            label.check.high__check
               input(type='checkbox').check__input
               .check__box.high__box
               span.check__text.high__check-text Нажимая кнопку вы соглашаетесь  с условиями <a hre="#" class="high__link">Политики конфиденциальности</a>
