section.qwuiz 
   .container
      h3.qwuiz__title.title(data-aos="fade-right") Рассчитайте стоимость рольставен, ответив на несколько вопросов
      p.qwuiz__subtitle(data-aos="fade") а также узнаете точный срок изготовления и монтажа
      .qwuiz__wrapper
         .qwuiz__quastions 
            .qwuiz__num.qwuiz__num_active Вопрос 1
            .qwuiz__num Вопрос 2
            .qwuiz__num Вопрос 3
            .qwuiz__num Вопрос 4
            .qwuiz__num Вопрос 5
            .qwuiz__num Вопрос 6
         .qwuiz__inner 
            .qwuiz__body
               h4.qwuiz__quastion Что именно вам нужно?
               .qwuiz__grid
                  label.qwuiz__item
                     img(src="img/qwuiz/photo_2.png", alt="photo").qwuiz__img
                     label.check.qwuiz__check
                        input(type='checkbox').check__input
                        .check__box.qwuiz__box
                        span.check__text.qwuiz__subimg Прозрачные рольставни
                  label.qwuiz__item
                     img(src="img/qwuiz/photo_3.png", alt="photo").qwuiz__img
                     label.check.qwuiz__check
                        input(type='checkbox').check__input
                        .check__box.qwuiz__box
                        span.check__text.qwuiz__subimg Антивандальные рольставни
                  label.qwuiz__item
                     img(src="img/qwuiz/photo_4.png", alt="photo").qwuiz__img
                     label.check.qwuiz__check
                        input(type='checkbox').check__input
                        .check__box.qwuiz__box
                        span.check__text.qwuiz__subimg Декоративные рольставни
                  label.qwuiz__item
                     img(src="img/qwuiz/photo_5.png", alt="photo").qwuiz__img
                     label.check.qwuiz__check
                        input(type='checkbox').check__input
                        .check__box.qwuiz__box
                        span.check__text.qwuiz__subimg Решетчатые рольставни
                  label.qwuiz__item
                     img(src="img/qwuiz/photo_6.png", alt="photo").qwuiz__img
                     label.check.qwuiz__check
                        input(type='checkbox').check__input
                        .check__box.qwuiz__box
                        span.check__text.qwuiz__subimg Гаражные ворота
                  label.qwuiz__item
                     img(src="img/qwuiz/photo_1.png", alt="photo").qwuiz__img
                     label.check.qwuiz__check
                        input(type='checkbox').check__input
                        .check__box.qwuiz__box
                        span.check__text.qwuiz__subimg Рольворота
               .qwuiz__footer 
                  span.qwuiz__instruction <b>Выберите вариант ответа</b> и нажмите кнопку “Далее”
                  button.qwuiz__button Далее
                     img(src="img/base/arrow.svg", alt="arrow").qwuiz__arrow
            .qwuiz__photo
               img(src="img/qwuiz/background.png", alt="back").qwuiz__photo-img
               span.qwuiz__photo-text Защитят стекла витрин и панорамные окна от взлома или сильного ветра.
            
         
