section.solutions
   .container 
      .solutions__row
         h5.solutions__title.title(data-aos="fade-right") Выбирайте любое решение — все сможем реализовать
         p.solutions__text(data-aos="fade"). 
            Управляйте роллетной системой <b>простым нажатием кнопки на пульте</b> и без необходимости выходить из дома или машины. 
      ul.solutions__list 
         li.solutions__item.solutions__item_active Автоматика
         li.solutions__item Монтаж
         li.solutions__item Цвета и оформление
      .solutions__mobile 
         img(src="img/solutions/cursor.svg", alt="cursor").solutions__img
         span.solutions__mobile-text Листайте влево/вправо
      .solutions__swiper(data-aos="fade-left") 
         ol.solutions__wrapper.swiper-wrapper 
            li.solutions__card.swiper-slide
               img(src="img/solutions/photo_1.png", alt="photo").solutions__card-img
               h6.solutions__name Автоматика от лидера на рынке СНГ — Nero Electronics
               p.solutions__text-inner. 
                  Управляйте роллетной системой с помощью мобильного приложения по Интернету или Wi-Fi
               .solutions__btn
                  img(src="img/solutions/arrow.svg", alt="arrow")
            li.solutions__card.swiper-slide
               img(src="img/solutions/photo_2.png", alt="photo").solutions__card-img
               h6.solutions__name Базовые приводы с механической системой концевых выключателей 
               p.solutions__text-inner. 
                  Управляйте роллетной системой с помощью мобильного приложения по Интернету или Wi-Fi
               .solutions__btn
                  img(src="img/solutions/arrow.svg", alt="arrow")
            li.solutions__card.swiper-slide
               img(src="img/solutions/photo_3.png", alt="photo").solutions__card-img
               h6.solutions__name Электроприводы со встроенным радиоуправлением  
               p.solutions__text-inner. 
                  Управляйте роллетной системой с помощью мобильного приложения по Интернету или Wi-Fi
               .solutions__btn
                  img(src="img/solutions/arrow.svg", alt="arrow")
            li.solutions__card.swiper-slide 
               img(src="img/solutions/photo_3.png", alt="photo").solutions__card-img
               h6.solutions__name Электроприводы с системой аварийного подъема 
               p.solutions__text-inner. 
                  Управляйте роллетной системой с помощью мобильного приложения по Интернету или Wi-Fi
               .solutions__btn
                  img(src="img/solutions/arrow.svg", alt="arrow")
            li.solutions__card.swiper-slide 
               img(src="img/solutions/photo_1.png", alt="photo").solutions__card-img
               h6.solutions__name Автоматика от лидера на рынке СНГ — Nero Electronics
               p.solutions__text-inner. 
                  Управляйте роллетной системой с помощью мобильного приложения по Интернету или Wi-Fi
               .solutions__btn
                  img(src="img/solutions/arrow.svg", alt="arrow")
            li.solutions__card.swiper-slide 
               img(src="img/solutions/photo_1.png", alt="photo").solutions__card-img
               h6.solutions__name Автоматика от лидера на рынке СНГ — Nero Electronics
               p.solutions__text-inner. 
                  Управляйте роллетной системой с помощью мобильного приложения по Интернету или Wi-Fi
               .solutions__btn
                  img(src="img/solutions/arrow.svg", alt="arrow")
            li.solutions__card.swiper-slide 
               img(src="img/solutions/photo_1.png", alt="photo").solutions__card-img
               h6.solutions__name Автоматика от лидера на рынке СНГ — Nero Electronics
               p.solutions__text-inner. 
                  Управляйте роллетной системой с помощью мобильного приложения по Интернету или Wi-Fi
               .solutions__btn
                  img(src="img/solutions/arrow.svg", alt="arrow")
      .solutions__controls
         .solutions__buttons 
            button.solutions__button.solutions__button-prev
               img(src="img/complex/prev.svg", alt="prev")
            button.solutions__button.solutions__button-next
               img(src="img/complex/next.svg", alt="prev")
         .solutions__dots