header.header
   .container.header__container
      .row.header__row
         .header__left
            a(href="index.html").header__logo
               img(src="img/base/logo.svg", alt="logo")
            .header__slogan
               |Изготовление и монтаж 
               |роллетных систем в России
         .header__right
            .header__socials.header__item
               span.header__socials-text Спрашивайте, отвечаем онлайн
               a(href="#").header__social.header__social-whatsapp
                  img(src="img/base/whatsapp.svg", alt="whatsapp")
               a(href="#").header__social.header__social-telegram
                  img(src="img/base/telegram.svg", alt="telegram")
               a(href="#").header__social.header__social-viber
                  img(src="img/base/viber.svg", alt="viber")
            .header__info.header__item
               span.header__time Ежедневно  9:00-19:00 
               a.header__number(href="tel:+7(499)688-84-83") +7 (499) 688-84-83  
            .header__calculate.header__item.header__btn.header__rotate
               img(src="img/header/calc.svg", alt="calc")
            .header__telephone.header__item.header__btn.header__rotate
               img(src="img/header/telephone.svg", alt="calc")
            .header__burger.header__item
               .header__burger-inner
      .row.header__navigation-row
         .header__navigation-link(href="#")
            span.header__navigation-link-text Каталог
            .header__navigation-submenu.header__navigation-submenu-catalog
               .header__navigation-submenu-container
                  .container
                     .header__navigation-submenu-row
                        .header__navigation-submenu-item 
                           a(href="#").header__navigation-submenu-name Рольставни на окна
                           a(href="#").header__navigation-submenu-name Металлические
                           ul.header__navigation-submenu-list 
                              li.header__navigation-submenu-wrap 
                                 a(href="#").header__navigation-submenu-link Стальные
                              li.header__navigation-submenu-wrap 
                                 a(href="#").header__navigation-submenu-link Алюминиевые
                              li.header__navigation-submenu-wrap 
                                 a(href="#").header__navigation-submenu-link Перфорированные
                           .header__navigation-mob-hide
                              a(href="second.html").header__navigation-submenu-name Рольставни для дома, дачи
                              ul.header__navigation-submenu-list 
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link Для веранды, терассы
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link Для беседки
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link На окна
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link Антивандальные
                              a(href="#").header__navigation-submenu-name Рольставни на двери
                        .header__navigation-submenu-item 
                           a(href="#").header__navigation-submenu-name Рольставни прозрачные
                           ul.header__navigation-submenu-list 
                              li.header__navigation-submenu-wrap 
                                 a(href="#").header__navigation-submenu-link Для беседок
                              li.header__navigation-submenu-wrap 
                                 a(href="#").header__navigation-submenu-link Для веранды, терассы
                           .header__navigation-mob-hide
                              a(href="#").header__navigation-submenu-name Рольставни для квартиры
                              ul.header__navigation-submenu-list 
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link На окна
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link Сантехнические
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link На балкон
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link Антивандальные
                              a(href="#").header__navigation-submenu-name Промышленные
                              ul.header__navigation-submenu-list 
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link Для магазина
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link Противопожарные
                        .header__navigation-submenu-item 
                           a(href="#").header__navigation-submenu-name Антивандальные
                           a(href="#").header__navigation-submenu-name Рольставни для гаража
                           .header__navigation-mob-hide
                              a(href="#").header__navigation-submenu-name Рольворота
                              ul.header__submenu-list 
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link Секционные
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link Откатные
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link Автоматические
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link Для гаража
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link Рулонные
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link Распашные
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link Подъемные
                                 li.header__navigation-submenu-wrap 
                                    a(href="#").header__navigation-submenu-link Скоростные
                     .header__navigation-subrow 
                        .header__navigation-subrow-left 
                           span.header__navigation-name ООО РОЛГРУПП
                           a(href="#").header__navigation-agree-link Политика конфиденциальности
                        .header__navigation-subrow-right Материалы с сайта защищены законом РФ об авторских и смежных правах. Копирование запрещено. Сайт не является договором офферты 
         .header__navigation-link(href="#") 
            span.header__navigation-link-text О нас
            .header__navigation-submenu
               .container
                  .header__navigation-submenu-grid
                     .header__navigation-submenu-item 
                        a(href="#").header__navigation-submenu-name О Компании
                        a(href="#").header__navigation-submenu-name Дилерам
                        a(href="#").header__navigation-submenu-name Вопрос-ответ
                        a(href="#").header__navigation-submenu-name
         a.header__navigation-link(href="delivery.html") Доставка и оплата
         a.header__navigation-link(href="installation.html") Монтаж и гарантии
         a.header__navigation-link(href="#") Портфолио
         a.header__navigation-link(href="#") Контакты
      .row.header__nav
         .header__nav-inner
            .header__link(href="#")
               span.header__link-text Каталог
               .header__submenu.header__submenu-catalog
                  .header__submenu-container
                     .header__submenu-row
                        .header__submenu-item 
                           a(href="#").header__submenu-name Рольставни на окна
                           a(href="#").header__submenu-name Металлические
                           ul.header__submenu-list 
                              li.header__submenu-wrap 
                                 a(href="#").header__submenu-link Стальные
                              li.header__submenu-wrap 
                                 a(href="#").header__submenu-link Алюминиевые
                              li.header__submenu-wrap 
                                 a(href="#").header__submenu-link Перфорированные
                           .header__mob-hide
                              a(href="second.html").header__submenu-name Рольставни для дома, дачи
                              ul.header__submenu-list 
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Для веранды, терассы
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Для беседки
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link На окна
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Антивандальные
                              a(href="#").header__submenu-name Рольставни на двери
                        .header__submenu-item 
                           a(href="#").header__submenu-name Рольставни прозрачные
                           ul.header__submenu-list 
                              li.header__submenu-wrap 
                                 a(href="#").header__submenu-link Для беседок
                              li.header__submenu-wrap 
                                 a(href="#").header__submenu-link Для веранды, терассы
                           .header__mob-hide
                              a(href="#").header__submenu-name Рольставни для квартиры
                              ul.header__submenu-list 
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link На окна
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Сантехнические
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link На балкон
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Антивандальные
                              a(href="#").header__submenu-name Промышленные
                              ul.header__submenu-list 
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Для магазина
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Противопожарные
                        .header__submenu-item 
                           a(href="#").header__submenu-name Антивандальные
                           a(href="#").header__submenu-name Рольставни для гаража
                           .header__mob-hide
                              a(href="#").header__submenu-name Рольворота
                              ul.header__submenu-list 
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Секционные
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Откатные
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Автоматические
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Для гаража
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Рулонные
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Распашные
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Подъемные
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Скоростные
                           .header__mob-visible
                              a(href="second.html").header__submenu-name Рольставни для дома, дачи
                              ul.header__submenu-list 
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Для веранды, терассы
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Для беседки
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link На окна
                                 li.header__submenu-wrap 
                                    a(href="#").header__submenu-link Антивандальные
                     .header__subrow 
                        .header__subrow-left 
                           span.header__name ООО РОЛГРУПП
                           a(href="#").header__agree-link Политика конфиденциальности
                        .header__subrow-right Материалы с сайта защищены законом РФ об авторских и смежных правах. Копирование запрещено. Сайт не является договором офферты 
            .header__link(href="#") 
               span.header__link-text О нас
               .header__submenu
                  .header__submenu-grid
                     .header__submenu-item 
                        a(href="#").header__submenu-name О Компании
                        a(href="#").header__submenu-name Дилерам
                        a(href="#").header__submenu-name Вопрос-ответ
                        a(href="#").header__submenu-name
            a.header__link(href="delivery.html") Доставка и оплата
            a.header__link(href="installation.html") Монтаж и гарантии
            a.header__link(href="#") Портфолио
            a.header__link(href="#") Контакты
