section.works 
   .container 
      .works__row 
         .works__item 
            h4.title.works__title Примеры выполненных работ:
            span.works__subtitle Рольставни для Автомойки
            p.works__text. 
               конструкции высокой прочности, обеспечивающие защиту имущества во время, когда продавцов и охранников нет на рабочем месте.
         .works__item-right
            .works__slider
               .works__wrapper.swiper-wrapper 
                  img(src="img/works/photo_1.png", alt="photo").works__slide.swiper-slide
                  img(src="img/works/photo_1.png", alt="photo").works__slide.swiper-slide
                  img(src="img/works/photo_1.png", alt="photo").works__slide.swiper-slide
                  img(src="img/works/photo_1.png", alt="photo").works__slide.swiper-slide
                  img(src="img/works/photo_1.png", alt="photo").works__slide.swiper-slide
            .works__dots
         .works__buttons
            button.works__button.works__button-prev
               img(src="img/works/prev.svg", alt="prev")
            button.works__button.works__button-next
               img(src="img/works/next.svg", alt="next")