section.control
   .container 
      .control__row 
         .control__item
            h3.control__title.title.
               Способы управления роллетами:
            ul.control__list
               li.control__li Пружинно-инерционный;
               li.control__li Электропривод (выключатель, пульт)
               li.control__li Электропривод с аварийным подьемом.
               li.control__li Ручной режим (воротковый, кордовый ленточный);
            p.control__subtitle. 
               Внешне они смотрятся очень привлекательно, поэтому могут стать стильным украшением любого фасада здания. Эксплуатировать их очень легко, при этом они обеспечивают отличную теплоизоляцию, а также спасают от палящих лучей солнца. 
         .control__photo
            img(src="img/control/photo.png", alt="photo").control__img