extends layouts/main
block variables
   - title = 'Roll Group'
   - descreption = 'desctiption of mainpage'
block content
   .wrapper.main(id="swup" class="transition-fade")
      include components/header/header
      main
         include components/first/first
         include components/benefits/benefits
         include components/qwuiz/qwuiz
         include components/kinds/kinds
         include components/own/own
         include components/price/price
         include components/guarantee/guarantee
         include components/solutions/solutions
         include components/examples/examples
         include components/catalog/catalog
         include components/about/about
         include components/high/high
         include components/complex/complex
         include components/completed/completed
         include components/trust/trust
         include components/faq/faq
         include components/help/help
         include components/seo/seo
         include components/information/information
         include components/footer/footer
append scripts
