.container {
	max-width: vw(1610);
	padding: 0 15px;
	width: 100%;
	margin: 0 auto;
	&-small {
		max-width: vw(940);
		width: 100%;
		margin: 0 auto;
	}
	&-large {
		max-width: vw(1840);
		width: 100%;
		margin: 0 auto;
		padding: 0 15px;
	}
	// @media (max-width: 1800px) {
	// 	max-width: 1500px;
	// }
	@media (max-width: $phones) {
		max-width: none;
		padding: 0 vw(22, 320);
		&-small {
			padding: 0 vw(22, 320);
			max-width: none;
		}
		&-large {
			max-width: none;
			padding: 0 vw(22, 320);
		}
	}
}
[data-aos="fade"] {
	opacity: 0;
	transition: 0.4s opacity;
	&.aos-animate {
		opacity: 1;
	}
}

.row {
	display: flex;
}

.col {
	display: flex;
	flex-direction: column;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.m-0 {
	margin: 0;
}
.btn {
	font-family: inherit;
	cursor: pointer;
	border: none;
	@include center();
	&::after {
		@include pseudo();
	}
	&:focus {
		outline: none;
	}
}

.title {
	margin: 0;
	font-weight: 450;
	font-size: vw(60);
	line-height: vw(75);
	letter-spacing: 0.02em;
	// @media (max-width: $large) {
	// 	font-size: 54px;
	// }
	// @media (max-width: $medium) {
	// 	font-size: 44px;
	// 	line-height: 48px;
	// }
	// @media (max-width: $tablets) {
	// 	font-size: 34px;
	// 	line-height: 34px;
	// }
	// @media (max-width: $phones) {
	// 	font-size: 22px;
	// 	line-height: 27px;
	// }
}

.subtitle {
	font-size: 16px;
	line-height: 18px;
}

.check {
	display: flex;
	align-items: center;
	position: relative;
	&__input {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		opacity: 0;
		z-index: -111;
	}
	&__box {
		flex-shrink: 0;
		position: relative;
		cursor: pointer;
		width: 14px;
		height: 14px;
		border-radius: 2px;
		border: 1px solid limegreen;
		margin-right: 10px;
		transition: $normal;
		&::after {
			@include pseudo;
			@include center;
			opacity: 0;
			width: vw(4);
			height: vw(6);
			border-right: vw(2) solid #fff;
			border-bottom: vw(2) solid #fff;
			transform: translate(-50%, -50%) rotate(45deg);
			transition: inherit;
		}
	}
	&__input:checked + &__box {
		background-color: limegreen;
		&::after {
			opacity: 1;
		}
	}
}
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}
@keyframes blick {
	0% {
		left: -70%;
	}

	to {
		left: 170%;
	}
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba($color: $lgreen, $alpha: 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba($color: $lgreen, $alpha: 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba($color: $lgreen, $alpha: 0);
	}
}
