@font-face {
	font-family: AvenirNextCyr;
	font-display: swap;
	src: url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2"), url("../fonts/AvenirNextCyr.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: AvenirNextCyr;
	font-display: swap;
	src: url("../fonts/AvenirNextCyr-Demi.woff2") format("woff2"), url("../fonts/AvenirNextCyr.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: AvenirNextCyr;
	font-display: swap;
	src: url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2"), url("../fonts/AvenirNextCyr.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: AvenirNextCyr;
	font-display: swap;
	src: url("../fonts/AvenirNextCyr-Heavy.woff2") format("woff2"), url("../fonts/AvenirNextCyr.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: AvenirNextCyr;
	font-display: swap;
	src: url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2"), url("../fonts/AvenirNextCyr.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PorscheNextTT;
	font-display: swap;
	src: url("../fonts/PorscheNextTT-Bold.woff2") format("woff2"), url("../fonts/PorscheNextTT.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: PorscheNextTT;
	font-display: swap;
	src: url("../fonts/PorscheNextTT-Thin.woff2") format("woff2"), url("../fonts/PorscheNextTT.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: PorscheNextTT;
	font-display: swap;
	src: url("../fonts/PorscheNextTT-Regular.woff2") format("woff2"), url("../fonts/PorscheNextTT.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
