section.benefits
   .row.benefits__row 
      .benefits__item
         .benefits__check
            img(src="img/benefits/check.svg", alt="check")
         h2.benefits__title Рассрочка по оплате без процентов
      .benefits__item
         .benefits__check
            img(src="img/benefits/check.svg", alt="check")
         h2.benefits__title Гарантия - 3 года по договору
      .benefits__item
         .benefits__check
            img(src="img/benefits/check.svg", alt="check")
         h2.benefits__title Срок изготовления от 1 дня
      .benefits__item
         .benefits__check
            img(src="img/benefits/check.svg", alt="check")
         h2.benefits__title Работаем с физ. и юр. лицами