section.additional 
   .container 
      .additional__col 
         .additional__item
            .additional__inner 
               img(src="img/additional/icon_1.svg", alt="icon").additional__img
               h6.title.additional__title Способы оплаты:
            p.additional__text. 
               Работаем с физическими и юридическими лицами;<br>
               Любая система налогообложения для юридических лиц;<br>
               Принимаем <b>любую форму оплату:</b>
            ul.additional__list 
               li.additional__li Банковские переводы;
               li.additional__li Наличный расчет;
               li.additional__li Безналичный расчет.
         .additional__item
            .additional__inner 
               img(src="img/additional/icon_2.svg", alt="icon").additional__img
               h6.title.additional__title Условия оплаты:
            p.additional__text. 
               Разбиваем <b>платежи на части 70/30;</b><br>
               Окончательный расчет - только после монтажа и приемки работы;<br>
               Возможна <b>система рассрочки</b> от 3 до 12 месяцев
         .additional__item
            .additional__inner 
               img(src="img/additional/icon_3.svg", alt="icon").additional__img
               h6.title.additional__title Способы доставки:
            p.additional__text. 
               Самовывоз лично или любой транспортной компанией на выбор клиента;<br>
               Доставка на объект с последующим монтажом.

